{% extends 'base.html' %}
{% load static %}
{% block title %} - home {% endblock%}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
{% include "header_with_search.html" %}
<main>
  <div class="topics_box">
    <img src="{% static 'equipments/website_icons/homepage/arrow.svg' %}" alt="" class="revealer" onclick="revealBox()">
    <h2 class='center'>Topics</h2>
    <ul class="topics">
      {% for topic_name in topics %}
      <li>
        <a href="?search={{ topic_name.topic }}">{{ topic_name.topic }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="main_container">
    <div class="main_container_header">
      <h1>Rooms</h1>
      <a href="{% url 'createroompage' %}" class="create_room_button center">Create New Room</a>
    </div>
    {% for room in rooms %}
    <div class="room_card">
      
      <a href="{% url 'profilepage' %}?profile={{ room.host.username }}" class="room_host"><img src="/media/{{ room.host.profile_pic }}" alt="profile_pic" class="profile_pic">@{{ room.host.username }}</a>
      <p class="room_discription">{{ room.discription }}</p>
      <hr />
      <div class="room_card_footer">
        <p class="room_member_count"><img src="{% static 'equipments/website_icons/homepage/members.svg' %}" alt="members icon" class="members_logo">{{ room.members.all.count }} Members</p>
        <a href="{% url 'roompage' room.id %}" class="see_room_button center">See Room</a>
      </div>
    </div>
    {% endfor %}

    
  </div>
  <div class="friends_box">
    <h2 class="center">Your Follows</h2>
    <ul class="friends_list">
      {% for friend in request.user.following.all %}
      <li class="friend">
        <a href="{% url 'profilepage' %}?profile={{ friend.username }}" class="room_host">
          <img src="media/{{ friend.profile_pic }}" alt="profile_pic" class="profile_pic">@{{ friend.username }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

<script src="{% static 'js/home_responsive.js' %}"></script>

{% endblock %}
