{% extends 'base.html' %}
{% load static %}

{% block title %} -Profile {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profilepage.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% include 'header.html' %}

<main class="profile-page">
  <div class="content">
    <div class="content__cover">
      <img class="content__avatar"></img>
    </div>
    <div class="content__actions">
      <a href="#" class="button"><span>Connect</span></a>
      <a href="#" class="button"><span>Message</span></a>
    </div>
    <div class="content__title">
      <h1>{{ user.username }}</h1>
      <span>Kathmandu, Nepal</span>
    </div>
    <div class="content__description">
      <p>Web Producer - Web Specialist</p>
      <p>Columbia University - New York</p>
    </div>
    <ul class="content__list">
      <li><span class="numbers">65</span>Followers</li>
      <li><span class="numbers">43</span>Rooms</li>
      <li><span class="numbers">21</span>Following</li>
    </ul>
    <div class="content__button">
      <a class="button" href="#">
        <div class="button__border"></div>
        <div class="button__bg"></div>
        <p class="button__text">Show more</p></a>
    </div>
  </div>
</div>

{% endblock %}
