.room-container {
    width: 100%;
    height: calc(100vh - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var( --background-theme); /* gradient background */
}

.room-form {
    max-width: 600px;
    width: 90%;
    padding: 40px;
    background-color: var(--mainboxes-background);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.room-form>h1 {
    font-weight: 500;
    color: var(--username-text); /* theme color */
    font-size: 36px;
    margin-bottom: 30px;
}

.select_topics{
    display: flex;
    gap: 5px;
}

.room-form select,
.room-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: var(--searchbox-background); /* input field background */
    color: var(--theme-text); /* input text color */
    font-size:1em;
}
.room-form textarea {
    resize: none; /* Prevent textarea from being resized */
    min-height: 150px; /* Set minimum height */
}
.room-form .button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.room-form button {
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: var(--button-background);
    color: var(--box-innertext);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 0 10px;
}
.footer-text {
    margin-top: 20px;
    text-align: center;
    color: var(--button-background); /* theme color */
    font-size: 14px;
}