header{
    min-height:60px;
    width:100vw;
    margin: auto;
    
    position: fixed;
    padding:5px;
    
    top:0px;
    left: 0px;
    z-index: 50;
}

nav{
    height:100%;
    padding:0 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainboxes-background);
    border-radius: 10px;
}

nav a{
    color:var(--theme-text);
    font-size: 1.4em;
    margin:10px;
    text-decoration: none;
}

.username{
    color:var(--username-text);
}
.profile_box{
    display: flex;
    align-items: center;
}

.profile_box>.logout_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height:40px;  
    width:100px;

    border-radius: 15px;

    background-color: var(--button-background);
    color:var(--box-innertext);
}
.search{ 
    height:60px;
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.searchbox{
    height:80%;
    width:60%;
    padding-left:30px;

    background-color: var(--searchbox-background);
    color: var(--searchbox-text);
    font-size: 1.6em;
    border:none;
    border-radius: 50px;
    color:var(--theme-text);
}

.searchbox:focus-visible{
    outline:none;
}

.search>button{
    background-color: var(--searchbox-background);
    height:50px;
    width:50px;
    border:none;
    border-radius: 50%;
}

.theme_box{
    position:relative;
    height:45px;
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-theme);
    border-radius: 50%;

}

.theme_box>img{
    height:70%;
    width:70%;

    position:absolute;
    transform:scale(0) rotateZ(0);
    transition: transform 0.3s ease
}

.theme_box>.active{
    transform:scale(1) rotateZ(360deg);
}

.theme_box>input{
    opacity:0;
}

@media (max-width:1000px){
    .search{
        display:none;
    }
    .logout_button{
        height:30px !important;  
        width:80px !important;
        font-size: 0.8em;
    }
    .username{
        font-size: 1em;
    }
    .theme_box{
        height:35px;
        width:35px;
        
    }
    .logo{
        height:35px
    }
    
}
@media (max-width:500px){
    .logout_button{
        height:25px !important;  
        width:70px !important;
        font-size: 0.8em;
    }
    .username{
        font-size: .7em;
    }
    .theme_box{
        height:25px;
        width:25px;
        
    }
    .logo{
        height:25px
    }
    
}