main{
    height:calc(100vh - 10px);
    max-height:100vh;
    
    display:flex;
    gap:5px;
    padding-top:80px;
}

main>div{
    border-radius: 10px;
    padding:20px;
}

.topics_box{
    height:60vh;
    width:20vw;
    min-width: 300px;

    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: var(--mainboxes-background);
}

.topics_box>h2{
    font-size: 2em;
    font-weight: 500;
    height:50px;
    width:130px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: var(--searchbox-background);
}
.topics_box li{
    list-style-type: none;
    margin-bottom:10px;
}

.topics_box a{
    font-size: 1.2em;
    text-decoration: none;
}

.main_container{
    min-width:60vw;
    max-height:100vh;
    overflow-y: scroll;

    background-color: var(--mainboxes-background);

}

.main_container_header{
    height:80px;
    width:90%;
    margin:auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--mainboxes-background);
}

.create_room_button{
    background-color: var(--button-background);
    height:60px;
    width:140px;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 15px;
    text-decoration: none;
    color:var(--box-innertext);
    
}

.main_container_header>h1{
    font-size: 2em;
    margin-left: 20px;
    font-weight: 600;
    margin-bottom:20px;
}



.friends_box{
    width:100%;

    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--mainboxes-background);
}

.friends_box>h2{
    font-size: 2em;
    font-weight: 400;
    width: 199px;
    height: 64px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: var(--searchbox-background);
}

.friends_list{
    width:100%;
    list-style-type: none;
}

.friends_list>li>a{
    height:50px;
    width:100%;
    padding:10px;

    display: flex;
    align-items: center;

    color:var(--box-innertext);
    border-radius: 15px;
    background-color: var(--button-background);
    list-style-type: none;

    font-size: 1em;
}

.room_card{
    margin: auto;
    height:250px;
    width:90%;
    padding:20px;
    margin-bottom: 20px;
    position: relative;

    border-radius: 20px;
    
    background-color: var(--searchbox-background);
}

.profile_pic{
    height:40px;
    width:40px;
    object-fit:cover;
    border-radius: 50%;
    border:2px solid var(--button-background);
}

.room_host{
    font-size: 1em;
    font-style: italic;
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
    text-decoration: none;
    color:var(--username-text);
}

.room_discription{
    font-size: 1.8em;
    font-weight: 400;
}
.room_card>hr{
    margin-top:20px;
    opacity: 0.3;
}
.room_card_footer{
    padding:20px;
    width:95%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:10px;
}

.members_logo{
    height:25px;
    margin-right:5px;
    position:relative;
    top:3px;
}

.room_member_count{
    font-size: 1em;
    display:flex;
    align-items: center;
}

.see_room_button{
    height:50px;
    width:100px;


    background-color: var(--button-background);

    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    border-radius: 15px;
    color:var(--box-innertext);
}