main{
    height:100%;
    width:100%;
}

.login-container {
    width: 400px;
    max-height:90vh;
    margin: 100px auto;
    padding: 30px;
    background-color: var(--mainboxes-background); /* darker background */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* slight shadow effect */
}

.login-container h1 {
    text-align: center;
    color: var(--username-text); /* theme color */
    font-size: 3em;
    margin-bottom: 20px;
}

.login-container>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    font-size: 1.5em;
    width: calc(100% - 40px);
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--searchbox-background); /* input field background */
    color: var(--theme-text); /* input text color */
}
.login-container input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-background); /* theme color */
    color: var(--box-innertext); /* button text color */
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}
.register-link a {
    color: var(--username-text); /* theme color */
    text-decoration: none;
    font-weight: bold;
}
.register-link a:hover {
    text-decoration: underline;
}


.messages{
    list-style-type: none;
    height:50px;
    width:100%;
    margin-bottom:20px;
}

.error{
    background-color: rgb(193, 0, 0);
    padding:5px;
    height:100%;
    width:100%;
    font-size: 1em;
    border-radius:25px;
}

