.profile-page {
  display: flex;
  height: calc(100vh - 10px);
  padding-top: 5rem;
}

.profile-page .content {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  margin: auto;
  height: 80vh;
  
  display: flex;
  flex-direction: column;

  position: relative;
  background: var(--mainboxes-background);
  border-radius: 2rem;
  z-index:50;
}

.profile-page .content__cover {
  position: relative;
  background: linear-gradient(150deg, #1d8cf8 20%, #3358f4 100%);
}

.content__actions > .button {
  background-color: var(--button-background);
}

.profile-page .content__avatar {
  width: 12rem;
  height: 12rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 50%);
  background: #8f6ed5
    url("https://image.freepik.com/free-photo/friendly-brunette-looking-camera_23-2147774849.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.profile-page .content__actions {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.profile-page .content__actions a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.profile-page .content__title {
  margin-top: 4.5rem;
  text-align: center;
  order: 1;
}

.profile-page .content__title h1 {
  margin-bottom: 0.1rem;
  font-size: 2.4rem;
  color: var(--username-text);
}

.profile-page .content__title span {
  font-size: 1rem;
}

.profile-page .content__description {
  margin-top: 2.5rem;
  text-align: center;
  order: 2;
}

.profile-page .content__description p {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

.profile-page .content__list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  list-style-type: none;
  order: 3;
}

.profile-page .content__list li {
  padding: 0 1.5rem;
  text-align: center;
  font-size: 1rem;
}

.profile-page .content__list li span {
  display: block;
  margin-bottom: 0.1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.profile-page .content__list li .numbers {
  color: var(--username-text);
}

.profile-page .content__button {
  margin: 3rem 0 2rem;
  text-align: center;
  order: 4;
}

.profile-page .content__button .button {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  text-align: center;
  text-decoration: none;
  background: var(--button-background);
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.profile-page .content__button .button:hover {
  color: #fff;
}
