main{
    padding-top:80px;
    height: calc(100vh - 10px);

    width: 100%;
    
    display: grid;
    grid-template-columns: 3.5fr 1fr;

    gap:5px;

    background-color: var(--background-theme);
}

.main_container{
    padding:15px;

    display:flex;
    flex-direction:column;
    align-items:center ;

    position:relative;

    border-radius: 10px;
    background-color: var(--mainboxes-background);
}

.main_container>h2{
    margin-bottom: 10px;
    font-size:2em;
}

.room_title{
    margin-top:30px;
    font-size:1.8em !important;
    font-weight: 400;
}

.chat_box{
    height:70%;
    width:100%;
    padding:20px;

    display:flex;
    flex-direction: column;
    gap:10px;

    border-radius: 15px;
    max-height: 60vh;
    overflow-y: scroll;

    background-color: var(--searchbox-background);
}





.chat_box>form{
    height:50px;
    width:90%;
    
    position:absolute;
    display: flex;
    align-items: center;
    gap:5px;
    
    bottom:10px;
    align-self: center;
}

.chat_box>form>textarea{
    height:100%;
    width:90%;
    padding:10px;

    font-size: 1em;
    background-color: var(--searchbox-background);

    border-radius:15px;
    border:none;

    resize: none;
}

.send_button{
    height:100%;
    background-color: var(--button-background);
    border:none;
    padding:5px;
    border-radius: 50%;
    cursor: pointer;
}
.send_button>img{
    height:100%;
}

.join_button{
    height:50px;
    width:100px;
    position:absolute;
    top:10px;
    right:10px;
    color:var(--box-innertext);
    text-decoration: none;
    background-color: var(--button-background);
    border-radius: 25px;
    font-size: 1em;
    margin-bottom:10px;
}

/* 

Chat cards

*/



.chats{
    display:flex;
    flex-direction: column-reverse;
}

.chats>li{
    min-height: 80px;
    max-height: 100000px;
    max-width:50%;
    padding:10px;
    margin-bottom:10px;

    display:grid;
    grid-template-columns: 43px calc(100% - 43px);

    list-style-type: none;

    border-radius: 25px;
    background-color: var(--button-background);

    word-wrap: break-word;
}

.chats a{
    display:block;
    text-decoration: none;
    opacity:0.75;
    font-style:italic;
    font-size: 0.9em;
    margin-bottom:3px;
}

.chats p{
    font-size:1.2em;
    font-weight: 400;
}

.chats .section_1{
    justify-self: center;
    align-self: flex-start;
}

.chats .section_2 p, .section_2 a{
    color:var(--box-innertext);
}

.profile_pic{
    height:40px;
    width:40px;
    object-fit:cover;
    border-radius: 50%;
    border:2px solid var(--button-background);
    
}

/* 

    *** Members Box ***

*/

.members_container{
    padding:20px;
    background-color: var(--mainboxes-background);
    width: 100%;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow-y: scroll;
}

.members_container>h2{
    text-align: center;
    font-size: 2em;

    background-color: var(--searchbox-background);
    height: 70px;
    width: 160px;
    border-radius: 15px;
    margin-bottom:30px;
}
.members_list{
    list-style-type: none;
    width:100%;
}

.members_list>.member{
    height:50px;
    width:100%;
    margin-bottom:10px;
    background-color: var(--button-background);
    border-radius: 10px;
    padding:5px;

}

.member>a{
    justify-content: flex-start;
    gap:10px;
    text-decoration: none;
    color:var(--box-innertext);
}