{% extends 'base.html' %}
{% load static %}

{% block title %} -Profile {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/edit_profilepage.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% include 'header.html' %}

<main class="profile-page">
  <div class="content">
    <div class="content__cover">
      <div class="content__avatar">
        <img src="/media/{{user.profile_pic}}" alt="Profile_Pic"></img>
      </div>
      
    </div>
    <div class="content__actions">
      {% if not request.user == user %}
      <form method="post">
        {% csrf_token %}
        <button class="button"
        {% if not request.user.username == user.username %}
        type="submit" name="commit" value="{% if already_following %} unfollow {{user.username}}{% else %}follow {{user.username}}{% endif %}"

        {% endif %}>
          {% if already_following %}
          Unfollow
          {% else %}
          Follow
          {% endif %}
        </button></form>
        {% endif %}
    </div>
    <form class="content__title center" method="post">
      {% csrf_token %}
      <p>Name:</p>
      <input type="text" value="{{ user.full_name }}" required>
      <p>Location:</p>
      <input type="text" value='{{user.location}}' required>
      <p>Bio:</p>
      <textarea class="content__description" required>
        {{user.bio}}
      </textarea>
      <button type="submit">Change Profile</button>
    </form>
    
  </div>
</main>

{% endblock %}
