{% extends 'base.html' %}
{% load static %}

{% block title %} -Profile {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/edit_profilepage.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% include 'header.html' %}

<main class="profile-page">
  <div class="content">
    <div class="content__cover">
      <div class="content__avatar">
        <img src="/media/{{user.profile_pic}}" alt="Profile_Pic"></img>
      </div>
    </div>

    <form class="content__title center" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Name:</p>
      <input type="text" value="{{ user.full_name }}" required name="full_name">
      <p>Location:</p>
      <input type="text" value='{{user.location}}' name = "location" required>
      <p>Bio:</p>
      <textarea class="content__description" name="bio" required>{{user.bio}}</textarea>
      <button type="submit">Change Profile</button>
      <label for="photo_upload" class="center photo_upload_button">
        <img src="{% static 'equipments/website_icons/profilepage/camera.svg' %}" alt="camera icon">
      </label>
      <input type="file" name="profile_pic" accept=".jpg, .jpeg, .png" id="photo_upload" hidden>
    </form>
    
  </div>
</main>
<script src="{% static 'js/profile_photo_viewer.js' %}"></script>
{% endblock %}
