{% extends 'base.html' %}
{% load static %}

{% block title %} -Profile {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profilepage.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% include 'header.html' %}

<main class="profile-page">
  <div class="content">
    <div class="content__cover">
      <div class="content__avatar">
        <img src="/media/{{user.profile_pic}}" alt="Profile_Pic"></img>
      </div>
        
    </div>
    
    <div class="content__actions">
      {% if not request.user == user %}
      <form class="form">
        {% csrf_token %}
        <button class="button commit_button"
        {% if not request.user.username == user.username %}
        type="submit" name="commit" value="{% if already_following %} unfollow {{user.username}}{% else %}follow {{user.username}}{% endif %}"

        {% endif %}>
          {% if already_following %}
          Unfollow
          {% else %}
          Follow
          {% endif %}
        </button></form>
        {% endif %}
      
      {% if user == request.user %}
      <a href="{% url 'edit_profilepage' userid=user.username %}" class="button"><span>Edit Profile</span></a>
      {% endif %}
    </div>
    <div class="content__title">
      <h1>{{ user.full_name }}</h1>
      <h3>@{{ user.username }}</h3>
      <span>{{ user.location}}</span>
    </div>
    <div class="content__description">
      <p style="font-weight: 400; font-size: 0.9em;">Bio:</p>
      <p>{{ user.bio }}</p>
    </div>
    <ul class="content__list">
      <li><span class="numbers">{{followers}}</span>Followers</li>
      <li><a href="/?search={{ user.username }}"><span class="numbers">{{room_count}}</span>Rooms</a></li>
      <li><span class="numbers">{{following}}</span>Following</li>
    </ul>
  </div>
</main>

{% endblock %}

{% block addjs %}
  {% if not request.user == user %}
    <script src="{% static 'js/commit_socket.js' %}"></script>
  {% endif %}
{% endblock %}