{% extends 'base.html' %}
{% load static %}
{% block title %}- Login{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<main class="center">
    <div class="register-container">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} center"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <ul class="messages">
            
        </ul>
        <h1>Register to ConnetCodes</h1>
        <form method="post" id = "registration_form" data-url = "{% url 'registerpage' %}">
            {% csrf_token %}
            <input type="text" name="full_name" placeholder="Full Name" id="name_input" required>
            <input type="text" name="new_username" placeholder="Username" id="new_username" required>
            <input type="password" name="new_password" placeholder="Password" required id="new_password">
            <input type="password" name="confirm_password" placeholder="Re-enter Password" id="confirm_password" required>
            <input type="submit" value="Register">
        </form>
        <div class="login-link">
            <span>Already have an account? </span>
            <a href="{% url 'loginpage' %}">Login</a>
        </div>
    </div>
</main>
<script src="{% static 'js/registration.js' %}"></script>
{% endblock %}


