{% extends 'base.html' %}
{% load static %}
{% block title %}- Room{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/room.css' %}" />
{% endblock %}
{% block content %}

{% include "header.html" %}
<main>
  <div class="main_container">
    <h2>Welcome to room by @{{ room.host.username }}</h2>
    <h2 class="room_title">{{ room.discription }}</h2>
    
    {% if not is_member %}
    <a href="{% url 'joinroom' pk=room.id%}" class="join_button center">Join Room</a>
    {% endif %}
    
    <div class="chat_box">
      <ul class="chats">

        {% for i in messages %}
        <li>
          <div class="section_1">
            <img src="/media/{{ i.user.profile_pic }}" alt="profile_pic" class="profile_pic">
          </div>
          <div class="section_2">
            <a href="{% url 'profilepage' %}?profile={{ i.user.username }}">@{{ i.user.username }}</a>
            <p>{{ i.message }}</p>
          </div>
        </li>
        {% endfor %}

      </ul>

      {% if is_member %}
      <form id="form">
        {% csrf_token %}
        <textarea type="text" name="message" class="message_box"  required ></textarea>
        <button type="submit" class="send_button">
          <img src="{% static '/equipments/website_icons/roompage/send.svg' %}" alt=""/>
        </button>
      </form>
      {% endif %}


    </div>
  </div>

  <div class="members_container">
    <h2 class="center">Members</h2>
    <ul class="members_list">
      {% for member in room_members %}
      <li class="member">
        <a href="{% url 'profilepage' %}?profile={{ member.username }}" class="room_host center">
          <img src="/media/{{ member.profile_pic }}" alt="profile_pic" class="profile_pic">@{{ member.username }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {{room.id|json_script:"room_id"}}
</main>
{% endblock %}


{% block addjs %}
  {% if is_member %}
    <script src="{% static 'js/connect_socket.js' %}"></script>
  {% endif %}
{% endblock %}
