{% extends 'base.html' %}
{% load static %}

{% block title %}- CreateRoom{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/createroom.css' %}">
{% endblock %}
{% block content %}
{% include 'header.html' %}

<main class="room-container">
    <div class="room-form">
        <h1>Create New Room</h1>
        <form action="#" method="post">
            {% csrf_token %}
            <select name="topic" required>
                <option value="" disabled selected>Select Topic</option>
                {% for i in topics %}
                <option value="{{i.topic}}">{{i.topic}}</option>
                {% endfor %}
            </select>
            <textarea name="description" placeholder="Write your description" rows="4" required></textarea>
            <div class="button-container">
                <button type="submit">Create Room</button>
                <button type="button">Cancel</button>
            </div>
        </form>
        <div class="footer-text">
            &copy; 2024 Your Company | All Rights Reserved
        </div>
    </div>
</main>

{% endblock %}
