<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectCodes{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'equipments/ConnectCodes_LOGO.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block stylesheet %}
    {% endblock %}
</head>
<body class="">
    {% block content %}


    {% endblock %}
</body>
{% block addjs %}
<!-- Add the extra JS here -->
{% endblock %}
</html>