{% load static %}

<header>
    <nav>
      <a href="/">
        <img
          src="{% static 'equipments/ConnectCodes_LOGO.svg' %}"
          alt="LOGO"
          height="50px" class="logo"
        />
      </a>
      <form class="search center" >
        <input type="text" name="search" class="searchbox" placeholder="Search here"/>
        <button type="submit" >
          <img
            src="{% static 'equipments/website_icons/homepage/search.svg' %}"
            alt="search-icon"
            height="30px"
          />
        </button>
      </form>
      <div class="profile_box">
        {% if request.user.is_authenticated %}
        <a href="{% url 'profilepage'%}?profile={{ request.user.username }}" class="username">@{{ request.user.username }}</a>
        <a href="{% url 'logoutuser' %}" class="logout_button">Logout</a>
        {% else %}
        <a href="{% url 'loginpage' %}" class="logout_button">Login</a>
        {% endif %}
        <label for="theme_selection" class="theme_box">
          <input type="checkbox" id="theme_selection">
          <img src="{% static 'equipments/website_icons/homepage/moon.svg' %}" alt="Moon Icon" class="moon">
          <img src="{% static 'equipments/website_icons/homepage/sun.svg' %}" alt="Sun Icon" class="sun active">
        </label>
      </div>
    </nav>
    <script src="{% static 'js/themechanger.js' %}"></script>
  </header>